.mozakere-konande-select{
    width:100% !important;
    height:40px;
    background:none;
    color:#fff;
    border:1px solid !important;
    border-radius:8px;
}
.mozakere-konande-popover{
    background:rgb(125, 184, 179) !important;
    color:#fff;
    border:1px solid;
    border-radius:8px;
    font-size: 14px;
}
.enseraf-description{
    width:100%;
    height:128px;
    background:none;
    color:#fff;
    font-family:inherit;
    padding:12px;
    border:1px solid;
    border-radius:8px;
}